body {
	background-color: black;
	color: white;
	font-size: 40px;
}

header, footer{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

button {
	padding: 15px 32px;
	border-radius: 5px;
	font-size: 30px;
}

#formButton {
	padding: 15px 32px;
	border-radius: 5px;
	font-size: 30px;
}

.table {
	display: flex;
	justify-content: center;
}

.tableA {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

table, th, td {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
}

td {
	border-top: 4px solid white;
	padding: .10in;
	align: center;
}

th {
	border-bottom: 6px solid white;
	align: left;
}

table {
	border: 3px solid white;
}

.tableButtonT {
	background-color: blue;
	color: white;
	font-size: 20px;
	cursor: pointer;
	border: none;
}

.tableButtonF {
	background-color: red;
	color: white;
	font-size: 20px;
	cursor: pointer;
	border: none;
}