
header, footer{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

ul > li {
	margin: 10px 10px;
}

menu {
	display: flex;
	flex-direction: column;
	align-items: left;
	border: 5px solid white;
}

menu > div {
	display: flex;
	flex-direction: row;
	align-self: right;
}

menu > div > select {
	align-self: center;
	height: 30px;
}

menuitem {
	display: flex;
	flex-direction: column;
	margin: 10px 10px;
	border: 1px dashed white;
	padding: 10px 10px;
}

menu > button, h3, a{
	align-self: right;
	margin: 10px 10px;
}

body {
	background-color: black;
	color: white;
	font-size: 40px;
}

button {
	padding: 15px 32px;
	border-radius: 5px;
	font-size: 30px;
}

h2 {
	text-decoration: underline;
}