{% load static %}
<html lang=en>
	<head>
		<title>Orders to cook</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
        <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	</head>
	
	<body>
	
		<header>
            <h3>Orders to cook:</h3>
			<br>
		</header>

		<main>
			<menu>
                <h2>Orders to cook:</h2>
                <form>
					{% for order in order_list %}
						{% if order.cooking %}
							<menuitem>
								<h4>Order #{{ order }}</h4>
								<div>
									<div>
										{% for order_item in order.orderitem_set.all %}
											<h4>{{ order_item.quantity }} {{ order_item.menu_item.name }}</h4>
										{% endfor %}
									</div>
									<div>
										 <button type="button">Order Cooked</button> 
									</div>
								</div>
							</menuitem>
						{% endif %}
					{% endfor %}
				</form>
			</menu>
		</main>
		
		<footer>
			
		</footer>
		
	</body>
</html>


{% for order_item in order.orderitem_set.all %}
	<menuitem>
		<h4>{{ order_item.menu_item.name }}</h4>
		<p>Quantity: {{ order_item.quantity }}</p>
	</menuitem>
{% endfor %}