{% load static %}
<html lang=en>
	<head>
		<title>Orders to cook</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
        <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	</head>
	
	<body>
	
		<header>
            <h3>Orders to cook:</h3>
			<br>
		</header>

		<main>
			<menu>
                <h2>Orders to cook:</h2>
					{% for order in orderList %}
						<menuitem>
							<h4>{{ order.name }}</h4>
							{% for item in order.orderItem_set.all %}
								<div>
									<div>
										<h4>Example: 2 Burgers, 1 Grilled cheese</h4>
									</div>
									<div>
										<button type="button">Order Cooked</button> 
									</div>
								</div>
							{% endfor %}
						</menuitem>
					
						<menuitem>	
							<h4>Order #2</h4>
							<div>
								<div>
									<h4>Example: 3 Fries, 2 Tomato soups</h4>
								</div>
								<div>
									<button type="button">Order Cooked</button> 
								</div>
							</div>
						</menuitem>
					{% endfor %}
			</menu>
		</main>
		
		<footer>
			
		</footer>
		
	</body>
</html>
