<!-- TODO: Add a button that goes back to the employee portal. -->
{% load static %}
<html lang=en>
	<head>
		<title>Orders to cook</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
        <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	</head>

	<body>

		<header>
            <a href="{% url 'restaurant:employeePortal' %}">
                <img src="{% static 'images\us_burger.png' %}"
                     height="150">
            </a>
			<br>
            <h3>Order {{ order.id }} </h3>
			<br>
		</header>

		<main>
			<p>
				Comments: {{ order.comment }}
			</p>
			<menu>
                {% for order_item in order.orderitem_set.all %}
                    <menuitem>
                        <div>
                            <h4>{{ order_item.menu_item.name }}</h4>
                            <p>Quantity: {{ order_item.quantity }}</p>
                        </div>
                    </menuitem>
                {% endfor %}
                <form action="{% url 'restaurant:foodReady' order.id%}" method="post">
				{% csrf_token %}
					<button type="submit">Cooked</button>
				</form>
			</menu>
		</main>

		<footer>
            <p>© 2018 Us Burger, Inc.</p>
            <p>us.burger@usu.edu</p>
            <p><a href="https://github.com/jfairbourn96/team_us_3450">Us GitBurger</a></p>
		</footer>

	</body>
</html>


