<!-- TODO: Add a button that goes back to the employee portal. -->
{% load static %}
<html lang=en>
	<head>
		<title>Orders to cook</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
        <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	</head>
	
	<body>
	
		<header>
            <h3>Orders to cook:</h3>
			<br>
		</header>

		<main>
			<menu>
                <h2>Orders To Cook:</h2>
                {% for order in order_list %}
                    {% if order.confirmed and not order.cooking %}
                        <menuitem>
                            <h4>Order #{{ order }}</h4>
                            <div>
                                <div>
                                    <form action="{% url 'restaurant:orderDetails' order.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">I'll Cook This</button>
                                    </form>
                                </div>
                            </div>
                        </menuitem>
                    {% endif %}
                {% endfor %}

                <h2>Orders Cooking:</h2>
                {% for order in order_list %}
                    {% if order.cooking and not order.cooked %}
                        <menuitem>
                            <h4>Order #{{ order }}</h4>
                        </menuitem>
                    {% endif %}
                {% endfor %}
			</menu>
		</main>
		
		<footer>
			
		</footer>
		
	</body>
</html>


{% for order_item in order.orderitem_set.all %}
	<menuitem>
		<h4>{{ order_item.menu_item.name }}</h4>
		<p>Quantity: {{ order_item.quantity }}</p>
	</menuitem>
{% endfor %}