{% load static %}
<html lang=en>
	<head>
		<title>Us-Burger Menu</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
	</head>
	
	<body>
	
		<header>
            <a href="/">
                <img src="{% static 'images\us_burger.png' %}"
                     height="150">
            </a>
			<br>
            {% if wait_time %}
                <h3>Wait time to be seated: {{ wait_time.get_wait_time }}</h3>
			{% else %}
                <h3>Wait time unavailable</h3>
            {% endif %}
			<h3>Order Name: {{ order.name }}</h3>
		</header>
		
		
		<main>
			<menu>
				<h2>Your Order:</h2>
				{% if order %}
					{% if order.delivered %}
						<h3>Status: Delivered</h3>
                        <h5>Comments or Requests:</h5>
                        <h6>{{ order.comment }}</h6>
					{% elif order.cooked %}
						<h3>Status: Cooked</h3>
                        <h5>Comments or Requests:</h5>
                        <h6>{{ order.comment }}</h6>
					{% elif order.cooking %}
						<h3>Status: Cooking</h3>
                        <h5>Comments or Requests:</h5>
                        <h6>{{ order.comment }}</h6>
					{% elif order.confirmed %}
						<h3>Status: Confirmed</h3>
                        <h5>Comments or Requests:</h5>
                        <h6>{{ order.comment }}</h6>
					{% else %}
						<h3>Status: Needs Confirmation</h3>
						<h5>Enter Server PIN to confirm order:
							<form action="{% url 'restaurant:confirm' order.id %}" method="post">
							{% csrf_token %}
								<label>Table:</label><input type="text" name="tableNumber" value="">
								<br>
                                <label>Pin:</label><input type="password" name="serverPin" value="">
								<input type="submit" value="Submit">
                                <h5>Comments or Requests:</h5>
                                <textarea maxlength="500" name="orderComments" style="height: 15em; width: 30em; resize: none;"></textarea>
							</form>
						</h5>
					{% endif %}
				
                    {% for order_item in order.orderitem_set.all %}
                        <menuitem>
                            <h4>{{ order_item.menu_item.name }}</h4>
                            <p>Quantity: {{ order_item.quantity }}</p>
                        </menuitem>
                    {% endfor %}
                    <h3>${{ order.get_total_price }}</h3>
                {% else %}
                    <p>An error occurred and no order was sent.</p>
                {% endif %}

				{% if order.confirmed %}
					<a>
						<button type="button" disabled>
							<p>Change Order</p>
						</button>
					</a>
				{% else %}
					<a href="{% url 'restaurant:editOrder' order %}">
						<button type="button">
							<p>Change Order</p>
						</button>
					</a>
				{% endif %}
					
				{% if order.confirmed %}

				{% else %}
					<a href="{% url 'restaurant:delete' order.id %}">
						<button type="button">
							<p>Cancel Order</p>
						</button>
					</a>
				{% endif %}

			</menu>
		</main>
		
		<footer>
			<p>Restaurant Address or other info goes here.</p>
		</footer>
		
	</body>
</html>