{% load static %}
<html lang=en>
	<head>
		<title>Us-Burger Menu</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
	</head>
	
	<body>
	
		<header>
			<h1>Us-Burger</h1>
			<h3>Wait time to be seated: 00:00</h3>
		</header>
		
		
		<main>
			<menu>
				<h2>Menu:</h2>
				
				<menuitem>
					<h4>Example Burger</h4>
					<p>Example description of example burger</p>
				</menuitem>
				
				<menuitem>
					<h4>Example Salad</h4>
					<p>Example description of example salad</p>
				</menuitem>
				
				<h3>Total: $00.00</h3>
				
				<a href="customerOrder.html">
					<button>
						<p>Place Order</p>
					</button>
				<a>
				
			<menu>
			
		</main>
		
		<footer>
			<p>Restaurant Address or other info goes here.</p>
		</footer>
		
	</body>
</html>
