{% load static %}
<html lang=en>
	<head>
		<title>Us-Burger Menu</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
	</head>
	
	<body>
	
		<header>
			<h1>Us-Burger</h1>
            {% if wait_time %}
                <h3>Wait time to be seated: {{ wait_time.get_wait_time }}</h3>
			{% else %}
                <h3>Wait time unavailable</h3>
            {% endif %}
		</header>
		
		
		<main>
			<menu>
                    <h2>Menu:</h2>
                    {% if latest_menu %}
                        <form action="{% url 'restaurant:newOrder' %}" method="post">
                            {%  csrf_token %}
                            {% for item in latest_menu %}
                                <menuitem>
                                    <h4>{{ item }}</h4>
                                    <div>
                                        <div>
                                            <h4>{{ item.description }}</h4>
                                        </div>
                                        <div>
                                            <h6>Quantity:</h6>
                                        </div>
                                        <div>
                                            <input type="number" name="{{ item.id }}qty" value="0" min="0">
                                        </div>
                                    </div>
                                </menuitem>

                            {% endfor %}
                            E-Mail: <input type="email" name="email"><br>
                            Order Name: <input type="text" name="orderName"><br><br>
                            <input type="submit" value="Place Order" />
                        </form>
                    {% else %}
                        <p>No menu items available</p>
                    {% endif %}


                {% comment %}
					<a href="{% url 'restaurant:customerOrder' %}">
						<button type="submit">Place Order</button>
					</a>



				TODO: Once an order is created in the database, send its pk to the customerOrder view.
                TODO: for example, <a href="{% url 'restaurant:customerOrder' order.pk %}">
				<a href="{% url 'restaurant:customerOrder' %}">
					<button>
						<p>Place Order</p>
					</button>
				</a>

                {% endcomment %}

			</menu>

			
		</main>
		
		<footer>
			<p>Restaurant Address or other info goes here.</p>
		</footer>
		
	</body>
</html>
