{% load static %}
<html lang=en>
	<head>
		<title>Us-Burger Home Page</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
	</head>

	<body>
		
		<header>
			<h1>Us-Burger</h1>
			<h3>Wait time to be seated: 00:00</h3>
		</header>
		
		<main>
			<ul>
				<li>
					<a href="customerMenu.html">
						<button>
							<h3>Customer Page</h3>
						</button>
					</a>
				</li>
				<li>
					<a href="#">
						<button>
							<h3>Cook Page</h3>
						</button>
					</a>
				</li>
				<li>
					<a href="#">
						<button>
							<h3>Host/Server Page</h3>
						</button>
					</a>
				</li>
			</ul>
		</main>
		
		<footer>
			<p>Restaurant Address or other info goes here.</p>
		</footer>
	
	</body>
</html>
