<!-- TODO: Add a button that goes back to the employee portal. -->
{% load static %}
<html lang=en>
	<head>
		<title>Supplies</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
        <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	</head>
	
	<body>
        <header>
            <a href="{% url 'restaurant:employeePortal' %}">
                <img src="{% static 'images\us_burger.png' %}"
                     height="150">
            </a>
			<br>
            <h3>Current Inventory</h3>
		</header>

		<main>
			<menu>
                <form name="changeSupplyForm" action="{% url 'restaurant:changeSupply' %}" method="post">
					{% csrf_token %}
					{% for ingredient in ingredient_list %}
						<menuitem>
							<div>
								<div>
									<h4>{{ ingredient }}</h4>
								</div>
								<div>
                                    <label for="numberInput"></label><input type="number"
                                                                            name="{{ ingredient.id }}qty"
                                                                            value="{{ ingredient.quantity }}"
                                                                            min="0"
                                                                            id="numberInput">
								</div>
							</div>
						</menuitem>
					{% endfor %}
					
					<button type="submit">
                        SAVE CHANGES
                    </button> 
				</form>
			</menu>
		</main>
		
		<footer>
			
		</footer>
		
	</body>
</html>
