{% load static %}
<html lang=en>
	<head>
		<title>Us-Burger Employee Login</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
	</head>

	<body>

		<header>
            <a href="/">
                <img src="{% static 'images\us_burger.png' %}"
                     height="150">
            </a>
			<br>
		</header>

		<main>
	        <div class="login_info">
                <form action="{% url 'restaurant:tryLogin' %}" method="post">
                    {% csrf_token %}
                    <div name="name"><input type="text" name="name"></div>
                    <div name="pin"><input type="password" name="PIN"></div>
                    <button type="submit" value="Login"/>
                </form>
            </div>
		</main>

		<footer>
			<p>Restaurant Address or other info goes here.</p>
		</footer>

	</body>
</html>