{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style0.css' %}"/>
    <title>Order Failed</title>
</head>
<body>

<header>
    <a href="/">
        <img src="{% static 'images\us_burger.png' %}"
             height="150">
    </a>
    <br>
    {% if wait_time %}
        <h3>Wait time to be seated: {{ wait_time.get_wait_time }}</h3>
    {% else %}
        <h3>Wait time unavailable</h3>
    {% endif %}
</header>
<div style="text-align: center">
    <p>Sorry, we've just run out of some of the items you ordered!</p>
    <p>Please place a new order.</p>
    <a href="{% url 'restaurant:index' %}">
        <button type="button">
            <p>Home</p>
        </button>
    </a>
</div>
</body>
</html>